@import '../../defaultstyles/settings' ; 

.Burger {
    width: 60%;
    margin: auto;
    height: 30rem;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: $potrait-mobile-breakpoint-width) and (min-height: $potrait-mobile-breakpoint-height) {
    .Burger {
        width: 35rem;
        height: 30rem;
    }
}

@media (min-width: $tablet-breakpoint-width) and (min-height: $tablet-breakpoint-height) {
    .Burger {
        width: 45rem;
        height: 40rem;
    }
}

@media (min-width: $desktop-breakpoint-width) and (min-height: $desktop-breakpoint-height) {
    .Burger {
        width: 70rem;
        height: 60rem;
    }
}
