.ContactData {
    margin:2rem auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 1rem;
    @media (min-width: 60rem) {
        width: 50rem;
    }
}

.Input{
display: block;
width: 80%;
margin: 1rem auto;
}