@import '../../../defaultstyles/settings';


.NavigationItems {
    list-style: none;
    display: flex; 
    flex-flow: column;
    height: 100% ;
    margin: 0;
    padding: 0;
    
    @media (min-width: $tablet-breakpoint-width) {
        align-items: center; 
flex-flow: row;
    }
}